.evento-detalle {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
}

.evento-titulo {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}





.evento-galeria {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;
}

.evento-item {
    display: flex;
    gap: 10px;
    align-items: center;
}

.evento-imagen-galeria {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.evento-descripcion-galeria {
    flex: 1;
    text-align: left;
    font-size: 14px;
}

.evento-compartir {
    background-color: transparent;
    margin-top: 16px;
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.evento-compartir:hover{
    background-color: #ddd;
    border: 1px solid #000;
}