.evento-detalle {
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 20px;
}

.evento-titulo {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.evento-galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}
.admin-controls{
    display: flex;
    margin:10px 0;
    width:100%;
    justify-content: center;
}
.evento-galeria-item {
    display: flex;
    flex-direction: column;
    aspect-ratio: 1 / 1;
    align-items: center;
    width: calc(33.33% - 20px);
    justify-content: space-between;
    gap: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.evento-galeria-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .evento-galeria-item {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .evento-galeria-item {
        width: 100%;
    }
}

.evento-galeria-imagen {
    width: 100%;
    object-fit: contain;
    background-color: #eee;
    border-radius: 5px;
    flex: 1;
    transition: all 0.1s;
}

.galeria-item-opciones {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.galeria-item-btn {
    padding: 5px 20px;
    border-radius: 5px;
    background-color: #eee;
    border: 1px solid #bbb;
}

.galeria-item-btn:hover {
    background-color: #ddd;
    border: 1px solid #aaa;
}

.evento-galeria-titulo {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.evento-compartir {
    background-color: transparent;
    margin-top: 16px;
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: max-content;
}

.evento-compartir:hover {
    background-color: #ddd;
    border: 1px solid #000;
}

.carousel {
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
    border-radius: 8px; /* Opcional: suaviza los bordes del slider */
}

.carousel-inner {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.carousel-item {
    flex: 0 0 100%; /* Cada item ocupa todo el ancho del slider */
    transition: transform 0.5s ease-in-out; /* Suaviza las transiciones */
}

.carousel-item img {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho */
    height: 300px; /* Altura consistente para todas las imágenes */
    object-fit: cover; /* Escala y recorta las imágenes para mantener proporciones */
    border-radius: 8px; /* Opcional: cohesión con el diseño */
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff !important;
    cursor: pointer;
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

@media (max-width: 991px) {
    .evento-galeria {
        flex-direction: column;
    }
    .evento-galeria-item{
        width: 100%;
    }

    
}
