.evento-detalle {
    display: flex;
    flex-direction: column;
    margin: auto;

    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 20px;
}

.evento-titulo {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}





.evento-galeria {
    display: flex;
    gap: 20px;
}

.evento-galeria-item {
    display: flex;
    flex-direction: column;
    aspect-ratio: 1 / 1;
    align-items: center;
    width: 300px;
    justify-content: space-between;
    gap: 10px;
}

.evento-galeria-imagen {
    width: 100%;
    object-fit: contain;
    background-color: #eee;
    border-radius: 5px;
    flex: 1;
    transition: all .1s;
}

.galeria-item-opciones{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.galeria-item-btn{
    padding: 5px 20px;
    border-radius: 5px;
    background-color: #eee;
    border: 1px solid #bbb;
}
.galeria-item-btn:hover{
    background-color: #ddd;
    border: 1px solid #aaa;
}
.evento-galeria-titulo {
    margin: 0;
}

.evento-compartir {
    background-color: transparent;
    margin-top: 16px;
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: max-content;
}
.evento-compartir:hover{
    background-color: #ddd;
    border: 1px solid #000;
}