#root {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
}

/* EVENTOS */
.form-eventos{
  display: flex;
  flex-direction: column;
  
}
.form-eventos > input{
  padding: 10px 5px;
  margin-bottom: 10px;
}
button, input[type='submit']{
  cursor: pointer;
}

/* HOME */

.hero-container{
  color: #fff;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 100px;
  height: 400px;
  margin-bottom: 150px;
}

.hero-container::after{
  content: '';
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 400px;
  width: 100%;
  
}
.hero-title{
  box-sizing: border-box;
  max-width: 550px;

}
.hero-img{
  top: 0;
  right: 0;
  height: 600px;
  transform: translateY(100px);
  object-fit: contain;

}
#seccion-eventos > h2{
  margin-bottom: 10px;
}

.home-eventos-container{
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

/* TARJETA EVENTO */

.tarjeta-evento{
  display: flex;
  flex-direction: column;
  width: 400px;
  justify-content: center;
  gap: 4px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tarjeta-evento > img{
  max-height: 120px;
  object-fit: cover;
}

.tarjeta-evento > a:visited{

  color: none;
}

.tarjeta-evento > a:v{

  color: none;
}


.tarjeta-evento > a {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  text-decoration: none;
  text-align: center;
  background-color: #ddd;
}
.tarjeta-evento > a:hover {
  border-color: #646cff;
}
.tarjeta-evento > a:focus,
.tarjeta-evento > a:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
