.eventCard {
  background-color: #fff;
  border-radius: 10px;
  margin-top: 60px;
  width: 100%;
  display: flex;
  gap: 20px;
}

.imageWrapper {
  width: 27%;
  display: flex;
  flex-direction: column;
}

.eventImage {
  aspect-ratio: 1.25;
  object-fit: contain;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.eventName {
  background-color: #eee;
  padding: 14px;
  text-align: center;
  font: 400 16px Abel, sans-serif;
}

.eventDetails {
  width: 73%;
  padding: 14px;
  background-color: #eee;
  font: 400 12px Abel, sans-serif;
}

.eventDescription {
  margin-bottom: 20px;
}

.eventDate {
  text-align: center;
  margin-bottom: 20px;
}

.eventLocation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.locationIcon {
  width: 24px;
  aspect-ratio: 1;
  object-fit: contain;
}

@media (max-width: 991px) {
  .eventCard {
    flex-direction: column;
    margin-top: 40px;
  }

  .imageWrapper,
  .eventDetails {
    width: 100%;
  }

  .eventName,
  .eventDetails {
    padding: 14px 20px;
  }
}