footer {
  background-color: #000;
  color: #fff;
  padding: 20px 70px;
  text-align: center;
  margin-top: 100px;
}

.footerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 600px;
  margin: 0 auto;
}

.logo {
  object-fit: contain;
  width: 71px;
  cursor: pointer;
}

.footerText {
  flex-grow: 1;
  max-width: 285px;
  margin: 0;
}

.social-media-icons {
  display: flex;
  gap: 10px;
}

.social-media-icons a svg {
  width: 24px;
}

@media (max-width: 991px) {
  .footer {
    margin-top: 40px;
    padding: 20px;
  }

  .footerContent {
    flex-direction: column;
    gap: 20px;
  }
}