.eventCard {
  background-color: #fff;
  border-radius: 10px;
  margin-top: 60px;
  display: flex;
  overflow: hidden;
  transition: transform .1s;
  cursor: pointer;
  position: relative;
  box-shadow: 5px 5px 12px 0px #0000001f;

}

.eventCard::after {
  content: "Ver evento";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 130, 147, .6);
  color: #fff;
  font-size: 1.2em;
  opacity: 0;
  transition: opacity 0.1s;
  z-index: 1;
  text-shadow: 0px 0px 5px #000;
}

.eventCard:hover {
  transform: scale(1.02);
}

.eventCard:hover::after {
  opacity: 1;
}

.imageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  min-width: 300px;
}

.eventCard:hover .eventCard::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  z-index: -1;
}

.eventImage {

  border-radius: 10px 10px 0 0;
}

.eventName {
  background-color: #eee;
  padding: 14px;
  text-align: center;
  font-weight: 600;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

}

.eventDetails {
  padding: 14px;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 16px;
  border-radius: 5px;
  justify-content: space-between;
}

.eventDescription {
  margin-bottom: 20px;
}

.eventDescriptionData {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.eventLocation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.locationIcon {
  width: 24px;
  aspect-ratio: 1;
  object-fit: contain;
}

@media (max-width: 991px) {
  .eventCard {
    flex-direction: column;
    margin-top: 40px;
  }

  .imageWrapper,
  .eventDetails {
    width: 100%;
  }

  .eventName,
  .eventDetails {
    padding: 14px 20px;
  }
}