.esculturaCard {
  background-color: #fff;
  border-radius: 10px;
  margin-top: 60px;
  display: flex;
  overflow: hidden;
  transition: transform .1s;
  cursor: pointer;
  position: relative;
  box-shadow: 5px 5px 12px 0px #0000001f;
  height: 300px;
}

.esculturaCard::after {
  content: "Ver escultura";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 130, 147, .6);
  color: #fff;
  font-size: 1.2em;
  opacity: 0;
  transition: opacity 0.1s;
  z-index: 1;
  text-shadow: 0px 0px 5px #000;
}

.esculturaCard:hover {
  transform: scale(1.02);
}

.esculturaCard:hover::after {
  opacity: 1;
}


.esculturaCard:hover .esculturaCard::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  z-index: -1;


}


.imageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}

.esculturaImage {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.esculturaName {
  background-color: #eee;
  padding: 14px;
  text-align: center;
  font-weight: 600;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.esculturaDetails {
  padding: 14px;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 16px;
  border-radius: 5px;
  justify-content: space-between;
}

.esculturaDescription {
  margin-bottom: 20px;
}

.esculturaDescriptionData {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.esculturaLocation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.locationIcon {
  width: 24px;
  aspect-ratio: 1;
  object-fit: contain;
}

@media (max-width: 768px) {
  .esculturaCard {
    flex-direction: column;
    height: auto; /* Permitir altura dinámica */
    margin-top: 30px;
  }

  .imageWrapper {
    width: 100%;
  }

  .esculturaImage {
    height: 200px; /* Ajustar tamaño de imagen en pantallas pequeñas */
    object-fit: cover;
  }

  .esculturaDetails {
    padding: 8px;
    font-size: 0.9em;
  }

  .esculturaName {
    padding: 10px;
    font-size: 1em;
    min-height: auto;
  }
}

@media (max-width: 480px) {
  .esculturaCard {
    margin-top: 20px;
    box-shadow: 3px 3px 8px 0px #0000001f;
  }

  .esculturaImage {
    height: 150px;
  }

  .esculturaName {
    font-size: 0.9em;
    padding: 8px;
  }

  .esculturaDetails {
    font-size: 0.8em;
  }

  .esculturaDescriptionData span {
    font-size: 0.75em;
  }
}
